* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {}

:root {
  --default-font: Poppins;
  --default-color: rgb(128, 128, 128);
  --line-color: rgb(107, 22, 22);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  line-height: 1.5;
  background-color: var(--default-color)
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  justify-content: space-between;
  align-items: center;
}

#name {
  display: flex;
  font-size: 25px;
  width: 50%;
  font-weight: 350px;
}

#navbar {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.hero {
  display: flex;
  height: 200px;
  background-size: cover;
  justify-content: right;
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat;
}

.hero h2 {
  padding-top: 150px;
  padding-right: 20px;
  color: white;
}

#content {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: auto auto auto 1fr 50px;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-areas:
  "about-title about-text about-text"
  "work-title work-1 work-1"
  "work-title work-2 work-3"
  "work-title work-4 work-5"
  "contact-title contact-details contact-details";
}

.content-title {
  width: 100px;
  font-size: 15px;
  font-weight: 500;
}

/* #about {
  display: flex;  
  width: 100%;
} */

.heading {
  background-color: rgba(0, 0, 0, 0.7) ;
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 20px;
  align-content: flex-start;
  border-bottom: 5px solid rgba(128, 128, 128, 0.7);
}

#about-title {
  grid-area: about-title;
  margin-bottom: 15px;
  margin-top: 15px;
  border-right: 2px solid var(--line-color);
}

#about-text {
  grid-area: about-text;
  width: 100%;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}

#work-title {
  grid-area: work-title;
  border-right: 2px solid var(--line-color);
}

.work-grid {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: grid;
  align-content: end;
}

#work-1 {
  grid-area: work-1;
  background-image: url(../images/01-horiseon.jpg);
  background-size: cover;
  height: 150px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
}

#work-2 {
  grid-area: work-2;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  height: 150px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
}

#work-3 {
  grid-area: work-3;
  background-image: url("../images/02-portfolio-3.jpg");
  height: 150px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
}

#work-4 {
  grid-area: work-4;
  background-image: url("../images/02-portfolio-4.jpg");
  height: 150px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
}

#work-5 {
  grid-area: work-5;
  background-image: url("../images/02-run-buddy.jpg");
  height: 150px;
  margin-left: 5px;
  margin-bottom: 15px;
  padding-left: 15px;
}

#contact-title {
  grid-area: contact-title;
  border-right: 2px solid var(--line-color);
  margin-top: 15px;
}

#contact-details {
  grid-area: contact-details;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  padding-left: 15px;
}
